.Inicio {
    background-color: #35A378
}

section {
    background-image: url("imagem/logobody.png");
}


nav ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "embed code", sans-serif;


}

nav {
    background-color: #d9d9d9;
    flex: 1;
    display: flex;
    justify-content: center;

}

nav li {
    display: inline-block;


}

nav li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 25px;
    padding-bottom: 0px;
}


header {
    display: flex;
    flex: 1;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
}

.logopa {
    background-color: #d9d9d9;

}

.loginpag2 {
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin-right: 20px;
    background-color: #35A378;
    border: 0;
    color: white;
}

.bc {
    background-color: #37B685;

    height: 100vh;
}


.titulo {
    font-size: 100px;
    color: white;
    padding-top: 1%;
    margin-left: 120px;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
}

.bt1 {
    background-color: #35A378;
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: 125px;
    border-radius: 50px;
    width: 130px;
    height: 50px;

}

.input1 {
    background-color: white;
    outline: none;
    border-radius: 50px;
    border: 0;
    width: 850px;
    height: 55px;
    margin: 25px 0 25px 120px;
}

.input1 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 25px;

}

.input12{
    margin-top: 5px;
}

.bc2 {
    background-color: white;
    width: 350px;
    height: 100px;
    margin-left:120px;
    border-radius: 25px;

}

.text3 {
    padding-top:
        3%;
    margin-left: 30px;
}




.links {
    margin-left:
        30px;
    margin-top: -1%;

}

.links2 {
    float: right;
    margin-right:
        90px;
    margin-top: -1%;
}


.link3 {
    margin-right:

        90px;
    float: right;

}


.bc3 {
    background-color: #35A373;
    width: 550px;
    height: 470px;
    border-radius: 25px;
    float: right;
    margin-right: 40px;
    margin: 120px 90px 20px 120px;



}

.bc3t1 {
    color: #C1FF72;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 30px;
    font-size: 20px;
}

.input2 {
    background-color: white;
    outline: none;
    border-radius: 50px;
    border: 0;
    width: 490px;
    height: 45px;
    margin-left: 30px;
    margin-top: 15px;
}



.input2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 25px;


}



.input3 {
    background-color: white;
    outline: none;
    border-radius: 20px;
    border: 0;
    width: 490px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
}



.input3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 25px;
}

.bt2 {
    background-color: #C1FF72;
    border: 0;
    color: #35A373;
    font-size: 20px;
    margin-right: 25px;
    border-radius: 30px;
    float: right;
    width: 150px;
    height: 60px;
    margin-top: 30px
    ;
}


.bt2 {
    font-weight: 600;
}
